extends layout

block content
	p.red-text.text-darken-4.center-align.
		Full-screen mode required, window resizing forbidden. #[br]
		Your current answer (if any) was sent to the server. #[br]
		Please go back to the exam page ASAP.
