extends withQuestions

	//TODO: step 1: ask password (client side, store hash)
	// step 2: when got hash, send request (with hash) to get monitoring page:
	//   array with results + quiz details (displayed in another tab) + init socket (with hash too)
	//   buttons "start quiz" and "stop quiz" for teacher only: trigger actions (impacting sockets)

	body
		p TODO

block append javascripts
	script. TODO
