extends layout

block content
	p.red-text.text-darken-4.center-align.
		Losing focus is forbidden. #[br]
		Your current answer (if any) was sent to the server. #[br]
		Please go back to the exam page ASAP, in full screen mode.
