extends layout

block stylesheets
	link(href="/vendor/prism/prism.css" rel="stylesheet")

block javascripts
	script(src="/vendor/prism/prism.js")
	script.
		Prism.plugins.autoloader.languages_path = '/vendor/prism/components';
	script(type="text/x-mathjax-config").
		MathJax.Hub.Config({
			extensions: ["tex2jax.js"],
			jax: ["input/TeX", "output/SVG"],
			tex2jax: {
				inlineMath: [ ['$','$'] ],
				displayMath: [ ['$$','$$'] ],
				processEscapes: true
			},
		});
	script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js')
		//https://mauriciopoppe.github.io/function-plot/
		//https://wzrd.in/standalone/function-plot@latest
		//http://mathjs.org/docs/index.html
		//https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.20.2/math.min.js
