h4.title {
	cursor: pointer;
	background-color: lightgrey;
}

.idle {
	background-color: #EFEFEF;
	opacity: 0.5;
}

tr.assessment {
	cursor: pointer;
}

input#password {
	width: auto;
}

table.result {
	cursor: pointer;
}

tr.stats {
	padding-top: 10px;
}

#questionList {
	margin: 20px 5px;
}

.question {
	margin: 20px 0;
}

.question .choiceCorrect {
	background-color: lightgreen;
}

.question .wording {
	margin-bottom: 10px;
	overflow: auto;
}

.question .option {
	margin-left: 15px;
}

.question p {
	margin-top: 10px;
}

.questionInactive {
	background-color: lightgrey;
}

.introduction {
	margin-top: 20px;
}

table.in-question {
	border: 1px solid black;
	width: auto;
	margin: 10px auto;
}

table.in-question th, table.in-question td {
	padding: 7px;
	border-bottom: 1px solid grey;
}

/*table { border: none; border-collapse: collapse; }*/
table.in-question td { border-left: 1px solid grey; }
table.in-question td:first-child { border-left: none; }
