h4.title {
	cursor: pointer;
	background-color: lightgrey;
}

.idle {
	background-color: #EFEFEF;
	opacity: 0.5;
}

tr.assessment {
	cursor: pointer;
}

input#password {
	width: auto;
}

table.result {
	cursor: pointer;
}
